/* reglas
selectores
declaraciones
propiedades
valores */

/* selector de etiqueta header - section - article - nav - ...... */
/* header {
    background: pink;1
    color: red;
} */

/* selector descendente  */
/* body header div nav ol li a */

/* selector de clases . */
/* .link */

/* selector de id # */
/* #portafolio */

/* gris oscuro = #1d252c */
/* gris claro = #626262 */
/* background gris = #1b2127 */
/* celeste = #026fff */


body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /* font-style: italic; */
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
    /* margin: 100px 150px 70px 30px; */
    /* text-transform: uppercase;
    text-decoration: dashed; */
}

h1 strong {
    color: #026fff;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.hero-image .menu {
    height: inherit;
}

.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    padding: 10px;
    padding-left: 60px;
}

.header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}

.portfolio {
    background: #fafafa;
    padding: 20px;
    /* background: red; */
}

.hero {
    height: 300px;
    /* background-image: url("../../Fotos/Concentrado.jpg"); */
    background-color: #1b2127;
    /* background-size: 500px; */
    /* background-repeat: no-repeat;
    background-position-x: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-image {
    object-fit: cover;
}

.project {
    /* border-top: 10px solid red;
    border-right: 10px solid green;
    border-left: 10px solid orange;
    border-bottom: 10px solid pink; */
    /* color: blue; */
    /* border-color: red;
    border-width: 15px;
    border-style: solid; */
    border: 1px solid gray;
    border-radius: 10px;
    /* border-top-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    /* margin: 10px; */
    margin-bottom: 15px;
    /* margin-right
    margin-left
    margin-top */
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-course,
.project-date,
.project-url {
    margin: 10px 0;
}

.project-description {
    font-size: 20px;
}

.project strong {
    font-family: 'Fjalla One', sans-serif;
}

/* .project-date {
    margin: 10px 0;
} */

.project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-details {
    width: 50%;
}

.project-imageContainer {
    width: 50%;
}

.projec-imageContainer img {
    max-width: 100%;
}

.flexbox {
    display: flex;
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    /* flex-direction: column; */
}

.box {
    width: 50px;
    height: 50px;
    margin: 20px;
    border: 1px solid red;
    flex-shrink: 0;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

.footer {
    color: white;
    background: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer img {
    vertical-align: middle;
}

.footer a {
    color: white;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
}

.event-list-title {
    margin-left: 20px;
}

.event {
    margin: 1%;
    width: 48%;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff;
}

.event-image {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description {
    text-align: left;
}

.event-url {
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    color: #056fff;
    border-radius: 5px;
}

.contact {
    background: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social {}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.twitter {
    background-image: url("../Fotos/twitter.svg");
}

.social-link.facebook {
    background-image: url("../Fotos/facebook.svg");
}

.social-link.github {
    background-image: url("../Fotos/imagen-de-github.svg");
}

.social-link.instagram {
    background-image: url("../Fotos/instagram-bosquejado.svg");
}

.form-email input {
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url("../Fotos/correo.svg");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button {
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}

.form-email h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    /* border: 1px solid red; */
    max-width: 1000px;
    /* width: 100%; */
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

/* Desktop First que empieces desde el MQ mas grande */
@media screen and (max-width:1024px) {
    .container {
        padding: 0 1em;
    }

    .hero {
        height: auto;
        position: relative;
        padding: 2em;
        text-align: center;
    }

    .hero-image {
        /* position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0; */
        width: 100%;
        /* overflow: hidden; */
    }

    h1 {
        font-size: 1.5em;
        z-index: 2;
    }
}

@media screen and (max-width:767px) {
    .header {
        display: block;
        height: auto;
    }

    .header ol {
        display: block;
    }

    .header ol li {
        height: 50px;
    }

    .header a {
        justify-content: center;
    }

    .header .logo {
        text-align: center;
        padding-left: 0;
    }

    .project {
        display: block;
    }

    .project-imageContainer {
        width: auto;
        text-align: center;
    }

    .project-details {
        width: auto;
        /* font-size: 10px; */
    }

    .project-course,
    .project-date,
    .project-url {
        margin: .3em 0;
    }

    .project-title {
        font-size: 1.5em;
        margin-bottom: .3em;
    }

    .project-url {
        font-size: 1em;
    }

    .project-course {
        font-size: .7em;
    }

    .project-date {
        font-size: 1em;
    }

    .project-description {
        font-size: .8em;
    }

    .event {
        width: auto;
        flex-shrink: initial;
    }

    .event img {
        width: 100%;
    }

    .event-detail {
        margin: -2em .5em .5em;
        padding: 1em;
    }
}

@media screen and (max-width:480px) {
    h1 {
        font-size: 1.5em;
    }

    .project-details {
        width: auto;
        font-size: 12px;
    }

    .contact {
        height: auto;
        padding: 1.5em 0;
        text-align: center;
        display: block;
    }

    .form-email button {
        margin: 1em auto;
    }

    .form-email h3 {
        margin-top: 0;
    }

    .footer {
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }
}

@media screen and (max-width:320px) {
    h1 {
        font-size: 1.2em;
    }

    .hero {
        padding: 2em 1em;
    }
}